@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700&display=swap');
 * {
   box-sizing: border-box;
   font-family: 'Mulish', sans-serif;
}
body {
	 margin: 0;
	 overflow-x: hidden;
	 min-height: 100vh;
	 background-image: url('https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 1rem;
}
    .container {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container .box{
      border-radius: 20px;
      width: 60px;
      height: 60px;
      backdrop-filter: blur(12px);
      animation: anime 3s;
      animation-fill-mode: forwards;
    }

    @keyframes anime {
      0% {
        width: 60px;
        height: 60px;
      }
      25% {
        width: 60px;
        height: 60px;
        
      }
      50% {
        width: 60px;
        height: 240px;
        
      }
      100% {
        width: 480px;
        height: 240px;
        
      }
}
   
#element{
animation:3s ease 0s normal forwards 1 fadein;
-webkit-animation:3s ease 0s normal forwards 1 fadein;
opacity:1
}

@keyframes fadein{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadein{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}

}

 .container .box section .btn-1 {
   background-color: transparent;
   border: none;
   outline: none;
   border: 2px solid rgba(255, 255, 255, 0.349);
   padding: 0.7rem 2rem;
   border-radius: 5px;
   color: rgb(32,32,32);
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   margin-top: 0.75rem;
   margin-right: 0.75rem;
   transition: 0.2s ease all;
   text-decoration: none;
}
 .container .box section .btn-1:hover {
   border: 2px solid rgba(255, 255, 255, 0.349);
   color: #125e9f;
   font-weight: 700;
   background-color: rgba(255, 255, 255, 0.788);
}

.container .box h3, section{
  margin-left: 3rem;
  margin-top: 1rem;
}

@media (max-width: 700px){
  
      @keyframes anime {
      0% {
        width: 60px;
        height: 60px;
      }
      25% {
        width: 60px;
        height: 60px;
        
      }
      50% {
        width: 60px;
        height: 240px;
        
      }
      100% {
        width: 300px;
        height: 350px;
        
      }
}
.container .box h3, section{
  margin-left: 3rem;
  margin-top: 1rem;
  }

}

 @media (max-width: 450px){
.container .box section{
  margin-left: 1rem;
  margin-top: 1rem;
  }
}
